@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:ital@1&family=Rubik+Glitch&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
}

:root {
    --font1: 'Poppins', sans-serif;
    --playball: 'Playball', cursive;
    --h-f-bgcolor: #35155D;
    --color2: #512B81;
    --color3: #4477CE;
    --color4: #8CABFF;
}

body {
    background-color: var(--color2);
    scroll-behavior: smooth;
    /* transition: all 0.5s ease-in-out; */
}

header {
    background-color: var(--h-f-bgcolor);
    color: var(--color4);
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-family: var(--playball);
    letter-spacing: 0.5rem;
    font-size: 30px;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    gap: 5vw;
    font-size: 20px;
    font-weight: 700;
}

ul li a {
    text-decoration: none;
    color: var(--color4);
    display: flex;

}

ul li a:hover,
.logo h1:hover {
    color: var(--color3);
    font-weight: 900;
    transition: all 0.3s ease-in-out;
}

.hero {
    height: calc(100vh - 70px);
    position: relative;
    background-image: url("../img/black-jacket.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #fff;
    padding: 40px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.welcome-msg,
.hero-img {
    z-index: 1;
    font-family: var(--playball);
    line-height: 3rem;
    font-size: 2.4rem;
}

.welcome-msg span {
    font-weight: 900;
    color: var(--color4);
    font-size: 2.5rem;
}

.hero-img {
    box-shadow: 5px 5px 10px 3px var(--color3);
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.hero-img img {
    width: 250px;
    border-radius: 50%;
}




.hero {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
}

.welcome-msg {
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    line-height: 5rem;
}

.welcome-msg span {
    font-size: 2.8rem;
}

.hero-img {
    width: 100vw;
    height: 50%;
    box-shadow: none;
    border: 1px solid;
    border-radius: 0;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

#about,
#contact,
#hobbies,
#future-horizons {
    background-color: var(--h-f-bgcolor);
    color: white;
    box-shadow: 5px 5px 10px 3px var(--color3);
    border-radius: 1rem;
    margin: 40px;
    padding: 20px;
    position: relative;
}

h2 {
    border-bottom: 2px solid var(--color3);
    display: inline-block;
    font-family: var(--playball);
    font-size: 30px;
    margin: 20px 0;
}

h3 {
    margin: 20px 0 5px 0;
}

form {
    max-width: 500px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: 700;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid var(--color2);
    resize: none;
}

button {
    background-color: var(--color3);
    border-radius: 0.5rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: var(--color2);
    color: #fff;
}

.social-media {
    position: absolute;
    top: 31px;
    right: 10px;
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 75px;
}

.contact-via-call-email p span {
    font-weight: 900;
    display: inline-block;
    margin: 10px 10px 0 0;
}

.contact-via-call-email a,
footer .social-icons .email a {
    color: var(--color4);
}

footer {
    height: 120px;
    background-color: var(--h-f-bgcolor);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-size: 18px;
}

footer .social-icons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
}

footer .social-icons .footer-social-media {
    display: flex;
}

footer .social-icons .email{
    display: flex;
    align-items: center;
    color: var(--color4);
}

span {
    color: white;
    font-weight: 900;
    /* margin-right: 10px; */
}